# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/
app/venv/

#Node
app/node_modules/

# App
_log/
_src/

# Local PostgreSQL data
data/